exportPattern("^[[:alpha:]]+")
importFrom(XML, xmlParse, xmlToList, xmlToDataFrame, xpathApply, xpathSApply)
importFrom(XML, xmlValue, xmlChildren)

S3method(print, feVehicle)
S3method(print, feVehicleEmissions)
S3method(print, mympgAvg)
